<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Crear Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="register-container">
    <p class="ion-text-center">Completa tus datos para empezar a fichar.</p>

    <ion-item lines="full">
      <ion-label position="floating">Nombre Completo</ion-label>
      <ion-input type="text" [(ngModel)]="nombre"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Contraseña (mín. 6 caracteres)</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="onRegister()" class="ion-margin-top">
      Registrarme
    </ion-button>
  </div>
</ion-content>